* {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
    position: fixed;
    left:50%;
    transform: translateX(-50%);
    
  }
  body {
    align-items: center;
    background-color:black;
    display: flex;
    justify-content: center;
  }